/* .bgCont {
  position: relative;
  margin: 50px;
}

.bgPic {
  background-attachment: local;
  background-size: contain;
  border: 5px solid red;
  background-color: #c8c8c8;
  text-shadow: 4px 4px 4px red;
} */

.LeftSide {
  flex: 1;
  width: 50%;
}

.LeftSide .picsWrp {
  align-self: center;
}

.RightSide {
  flex: 1;
  width: 50%;
}

.RightSide .picsWrp {
  align-self: center;
}

.innerSectionWrp {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  flex: 1;
  /* max-width: calc(100vmin - 500px); */
}

.picsWrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  flex: 1 !important;
}

.imgwrp {
  width: 100%;
  height: 100%;
  max-height: 250px;
}

.textWrp {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  flex: 2 !important;
}

.LeftSide .textWrp {
}

.LeftSide .picsWrp {
}

.RightSide .textWrp {
  justify-content: center;
}

.RightSide .picsWrp {
}

/* About Coffee shop txt header */

.AboutTxt {
  color: #000;
  text-align: center;
  font-family: "Galada", cursive !important;
}

.AbTxt {
  color: #000 !important;
  text-align: center;
  font-size: 3.6vmin !important;
}

.AbTxt1 {
  color: #f9cc41 !important;
  text-align: center;
  font-size: 3.6vmin !important;
}

.AbTxt2 {
  color: #f9cc41 !important;
  text-align: center;
  font-size: 3.6vmin !important;
}

.part3 {
  display: flex;
  flex-direction: column;
}

.navMenuHeader {
  color: #ffc403a9 !important;
  text-align: center;
  text-shadow: 3px 3px 3px #000;
  font-size: 4.5vmax !important;
  align-self: center;
  font-family: "Lobster Two", cursive !important;
  position: relative;
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
}
